<!DOCTYPE html>

{% extends "chat/base.html" %}
{% block body_block %}

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" class="h4 pt-5">Chatroom</label>
                        <textarea class="form-control" id="chat-text" rows="10"></textarea><br>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="input" type="text"></br>
                    </div>
                    <input class="btn btn-secondary btn-lg btn-block" id="submit" type="button" value="Send">
                </form>
            </div>
        </div>
    </div>



    {{  room_name|json_script:'room-name' }}
    {{  request.user.username | json_script:"user_username" }}
    <script>

        const userUserName = JSON.parse(document.getElementById('user_username').textContent);
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        // Execute a function when the user presses a key on the keyboard
        input.addEventListener("keypress", function(event) {
        // If the user presses the "Enter" key on the keyboard
        if (event.key === "Enter") {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            document.getElementById("submit").click();
        }}); 
        
        document.querySelector('#submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'name': userUserName,
            }));
            messageInputDom.value = '';
        };


        const chatSocket = new WebSocket(
            'ws://'+ 
            window.location.host +
            '/ws/chat/' + 
            roomName +
            '/'
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log(data);
//            document.querySelector('#user-hello').innerHTML = (data.tester);
            document.querySelector('#chat-text').value += (data.name + ': ' + data.message + '\n')
        };

    </script>

  {% endblock %}